<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bem-vindo!</title>
    <style>
        .inline-content {
            display: inline-block;
            vertical-align: top;
            margin: 10px; /* Pequeno espaçamento ao redor */
        }
        .midia {
            text-align: center;
        }
        h1 {
            text-align: center;
            font-weight: bold;
            color: rgb(55, 7, 100);
            font-size: 60PT;
            margin-top: 30px;
        }
       
    </style>
</head>
<body>

    <h1>BEM VINDO!</h1> 
    <div class="midia">
        <img src="/img/cat.gif" alt="Descrição da imagem" width="580" height="500" class="inline-content">
    </div>
</body>
</html>
