<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bem-vindo!</title>
    <style>
        .inline-content {
            display: inline-block;
            vertical-align: top;
            margin: 10px; /* Pequeno espaçamento ao redor */
        }
        .midia {
            text-align: center;
        }
        h1 {
            text-align: center;
            font-weight: bold;
            color: rgb(55, 7, 100);
        }
        p {
            text-align: center;
            color: rgb(22, 3, 41);
            margin-bottom: 100px;
            font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        }
    </style>
</head>
<body>

    <h1>CAT JUMP!</h1> 
    <p>PULE AS CAIXAS E CONQUISTE MOEDAS.<br>
    CAT JUMP, O JOGO PARA PASSAR O TEMPO DE MANEIRA DIVERTIDA!</p>

    <div class="midia">
        <img src="/public/img/cat.png" alt="Descrição da imagem" width="480" height="300" class="inline-content">
        <iframe width="500" height="300" src="https://www.youtube.com/embed/g4WMhZzfE8o?si=Q0wkKPSZOWxXtMM9" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen class="inline-content"></iframe>
    </div>
    
</body>
</html>
