<h1>Add Categoria</h1>

<form action="/categoria/add" method="post">
    <div class="form-group">
        <label for="nome">Categoria</label>
        <input type="text" class="form-control" id="nome" name="nome" required>
    </div>
    
<a href="/categorias/show" style="padding:10px ;background-color: rgb(55, 7, 100); color: white; font-weight: bolder; border-radius: 26px; width: 200px; height: auto;" >
    ADD
</a>


</form>