<h1>Alunos</h1>

<table class=" table table-bordered">
    <thead>
        <tr>
            <th>ID</th>
            <th>Nome</th>
            <th>Ações</th>
        </tr>
    </thead>

<tbody>
   <tr>
    <td></td>
    <td></td>
    <td></td>
   </tr>
</tbody>
</table>

<a href="/alunos/add" class="btn-custom">
    Add aluno
</a>
<a href="/alunos/Edit" class="btn-custom">
    Edit aluno
</a>

<style>
    .btn-custom {
        display: inline-block;
        padding: 10px 20px;
        background-color: rgb(55, 7, 100);
        color: white;
        font-weight: bolder;
        border-radius: 26px;
        text-align: center;
        margin: 5px;
        text-decoration: none;
    }
    
    .btn-custom:hover {
        background-color: rgb(75, 10, 130);
        transform: scale(1.05);
        color: white;
    }
    
   
</style>


